config/.cache
config/.data
config/.zshrc.local
config/Motrix
config/QtProject.conf
config/Thunar
config/btop
config/cef_user_data
config/dconf/user
config/gdlauncher
config/gdlauncher_next
config/gtk-2.0
config/gtk-3.0
config/kritadisplayrc
config/kritarc
config/obs-studio
config/pavucontrol.ini
config/qBittorrent
config/xfce4
